python-dotenv==1.1.1
llama-cloud-services==0.6.73
langchain==0.3.27
langchain-community==0.3.30
mistralai==1.9.10
langchain-cohere==0.4.6
pinecone==7.3.0
langchain-pinecone==0.2.12
langchain-google-genai==2.1.12


